<div class="wrap joinStep div_layer" id="divMemberId">
  <script type="text/javascript">
    $(document).ready(function () {
      // ID입력시
      $('#divMemberId [name=memberId]').on('input', function () {
        $('#divMemberId .btn_progress').prop('disabled', true); // 완료 버튼 비활성

        // ID Validation Check - 2~15자. 한글/영문/숫자 일부 특수문자 가능. 영문대/소는 구분 안함.
        var memberId = $('#divMemberId [name=memberId]').val();

        // 길이 체크
        if (memberId.length < 2 || memberId.length > 15) {
          $('#divMemberId #p_errMsg_invalidId').show();
          return;
        } else {
          $('#divMemberId #p_errMsg_invalidId').hide();
        }

        // 입력가능 문자 체크
        var regEx = /^[0-9a-zA-Z가-힣!^*_/+]*$/g;
        if (!regEx.test(memberId)) {
          $('#divMemberId #p_errMsg_invalidId').show();
          return;
        } else {
          $('#divMemberId #p_errMsg_invalidId').hide();
        }

        // 중복 체크
        get('/api/member/duplCheck/MEMBERID', 'checkValue=' + $('#divMemberId [name=memberId]').val()).done(function (result) {
          if (result.data.dupYn == 'Y') {
            // 오류 메시지 표시
            $('#divMemberId #p_errMsg_dupId').show();
            return;
          } else {
            // 오류 메시지 숨기기
            $('#divMemberId #p_errMsg_dupId').hide();
            // 완료 버튼 활성화
            $('#divMemberId .btn_progress').prop('disabled', false);
          }
        });
      });

      // 완료 버튼 클릭시
      $('#divMemberId .btn_progress').on('click', function () {
        post('/api/changeId', null, $('#memberIdForm').serializeObject())
          .done(function (result) {
            layerAlert('수정이 완료 되었습니다.').done(function () {
              //설정페이지 이메일 변경하고 창닫기
              if (typeof getMyInfo == 'function') {
                getMyInfo();
              }
              if (typeof resetMemberId == 'function') {
                resetMemberId();
              }
              $('#settingsWrap').show();
              $('#divMemberId').remove();
            });
          })
          .fail(function (result) {
            if (result.respCode == '<%= CommonConstants.ERR_CD_JOIN_DUPL_EMAIL %>') {
              // 이메일 중복
              layerAlert('이미 사용중인 이메일 주소 입니다.').done(function () {
                fn_backToJoinStep('divEmailAuth'); // 이메일 입력 화면으로 이동
                $('#divEmailAuth [name=email]').trigger('input'); // 이벤트 발생으로 validation체크 다시 하도록 처리
              });
            } else if (result.respCode == '<%= CommonConstants.ERR_CD_JOIN_DUPL_MOBILE_NO %>') {
              // 휴대폰 번호 중복
              layerAlert('이미 사용중인 전화번호 입니다.').done(function () {
                fn_backToJoinStep('divPhoneAuth'); // 전화번호 입력 화면으로 이동
                $('#divPhoneAuth [name=mobileNo]').trigger('input'); // 이벤트 발생으로 validation체크 다시 하도록 처리
              });
            } else if (result.respCode == '<%= CommonConstants.ERR_CD_JOIN_INVALID_BIRTHDAY %>') {
              // 생년월일 형식 오류
              layerAlert('올바르지 않은 날짜 형식 입니다.').done(function () {
                fn_backToJoinStep('divBirthday');
              });
            } else if (result.respCode == '<%= CommonConstants.ERR_CD_JOIN_DUPL_MEMBER_ID %>') {
              // 사용자ID 중복
              // 현재 화면이므로 다시 체크 하도록 input trigger
              $('#divMemberId [name=memberId]').trigger('input');
            }
          });
      });
    });
  </script>

  <!-- header -->
  <header>
    <button type="button" class="btn_go_prev" onclick="back()">이전으로</button>
    <h1>클럽메타 ID 수정</h1>
  </header>
  <!--// header -->

  <!-- contents -->
  <div class="contents">
    <form id="memberIdForm">
      <div class="joinus_form">
        <div class="form_row">
          <span class="stit">클럽메타 ID를 입력해주세요.</span>
          <div class="input_wrap">
            <input type="text" class="clear" name="memberId" />
            <button class="btn_clear" onClick="clearInput(this); return false;"></button>
          </div>

          <!-- 오류 -->
          <p class="warning_txt" id="p_errMsg_dupId" style="display: none">중복된 ID입니다.</p>
          <p class="warning_txt" id="p_errMsg_invalidId" style="display: none">2~15자. 한글/영문/숫자입력 가능하며, 특수문자는 ! ^ * _ / + 만 허용 됩니다..</p>
        </div>
      </div>
      <button type="button" class="btn_progress" disabled>완료</button>
    </form>
  </div>
  <!--// contents -->
</div>
