<div class="wrap loginStep div_layer" id="divEmailLogin">
  <script type="text/javascript">
    $(document).ready(function () {
      $('#loginForm [name=loginTypeCd]').val('EMAIL');

      // 이메일 입력시 처리
      $('#divEmailLogin [name=email]').on('input', function () {
        // 로그인 버튼 비활성
        $('#divEmailLogin .btn_progress').prop('disabled', true);

        // 오류 메시지 숨기기
        $('#divEmailLogin .warning_txt').hide();

        // 로그인 버튼 활성화/비활성화 처리
        fn_checkValidLoginInfo();
      });

      // 비밀번호 입력시
      $('#divEmailLogin [name=pwd]').on('input', function () {
        // 로그인 버튼 비활성
        $('#divEmailLogin .btn_progress').prop('disabled', true);

        // 오류 메시지 숨기기
        $('#divEmailLogin .warning_txt.invalid_info').hide();

        // 한글제거
        var pwd = $('#divEmailLogin [name=pwd]')
          .val()
          .replace(/[ㄱ-힣]/g, '');
        $('#divEmailLogin [name=pwd]').val(pwd);

        // 로그인 버튼 활성화/비활성화 처리
        fn_checkValidLoginInfo();
      });

      // 비밀번호 보이기 / 숨기기
      $('#divEmailLogin .eyes').on('click', function () {
        var pwInput = $(this).closest('div.password').find('.form_pw');
        if (pwInput.attr('type') == 'password') {
          pwInput.attr('type', 'text');
          $(this).find('i').removeClass('ico_eye_slash');
          $(this).find('i').addClass('ico_eye');
        } else {
          pwInput.attr('type', 'password');
          $(this).find('i').removeClass('ico_eye');
          $(this).find('i').addClass('ico_eye_slash');
        }
        pwInput.focus();
      });

      // 로그인 버튼 클릭
      $('#divEmailLogin .btn_progress').on('click', function () {
        var body = $('#loginForm').serializeObject();

        post('/api/login', null, body)
          .done(function (result) {
            // 로그인 성공시
            fn_setToken(result).done(function (result) {
              closeLoginPage();
            });
          })
          .fail(function (result) {
            if (result.respCode == '<%= CommonConstants.ERR_CD_INVALID_LOGIN_INFO %>') {
              $('#divEmailLogin .warning_txt.invalid_info').show();
            } else if (result.respCode == '<%= CommonConstants.ERR_CD_SUSPENDED_MEMBER %>') {
              // 중지된 계정
              var msg = JSON.parse(result.respMsg);
              layerConfirm('해당 계정은 [' + msg.reason + '](으)로 인해 계정 사용이 정지 되었습니다.', '자세한 정보는 문의하기를 통해 확인하실 수 있습니다.', '문의하기', '취소').done(function () {
                getPageAjax('../inquiry/inquiry_layer.html').done(function (result) {
                  var $result = $(result);
                  $result.find('[name=memberNo]').val(msg.memberNo);
                  $('body').append($result);
                });
              });
            } else if (result.respCode == '<%= CommonConstants.ERR_CD_DORMANT_MEMBER %>') {
              // 휴면 계정
              layerConfirm('해당 계정은 휴면 처리된 계정입니다. 본인 확인 후 다시 계정 사용이 가능합니다.', null, '본인인증', '취소')
                .done(function () {
                  // 본인 인증 화면 표시
                  var msg = JSON.parse(result.respMsg);
                  $('#dormantMemberForm [name=memberNo]').val(msg.memberNo);
                  getPageAjax('../login/dormant_phone_auth.html', null).done(function (result) {
                    $('#dormantMemberForm').append(result);
                    $('#div_dormantMemberForm').addClass('div_dormantMemberForm');
                  });
                })
                .fail(function () {
                  // 로그인 창으로 가야됨.
                  $('#loginForm').find('.wrap.loginStep').remove();
                  $('#div_loginForm').removeClass('div_loginForm');
                });
            } else if (result.respCode == '<%= CommonConstants.ERR_CD_TERMS_AGREE_EXISTS %>') {
              // 필수 미동의 약관 존재
              var msg = JSON.parse(result.respMsg);
              getPageAjax('../login/terms_of_use_exp_layer.html', 'memberNo=' + msg.memberNo).done(function (result) {
                $('body').append(result);
              });
            }
          });
      });

      // 전화번호 로그인으로 이동
      $('#divEmailLogin #a_phone').on('click', function () {
        getPageAjax('../login/phone_login.html', null).done(function (result) {
          $('#loginForm').append(result); // 전화번호 인증 화면 붙이고
          $('#divEmailLogin').remove(); // 현재 화면(이메일인증) 제거
        });
      });
    });

    // 이메일/비밀번호 입력 여부에 따라 로그인 버튼 활성화
    function fn_checkValidLoginInfo() {
      if ($('#divEmailLogin [name=email]').val() == '') return;

      if (fn_checkValid('email', $('#divEmailLogin [name=email]').val())) {
        // 이메일 valid
        if ($('#divEmailLogin [name=pwd]').val().length > 0) {
          $('#divEmailLogin .btn_progress').prop('disabled', false);
        }
      } else {
        $('#divEmailLogin .warning_txt.invalid_email').show();
      }
    }
  </script>

  <!-- header -->
  <header>
    <button type="button" class="btn_go_prev">이전으로</button>
    <h1>로그인</h1>
  </header>
  <!--// header -->

  <!-- contents -->
  <div class="contents">
    <div class="tabs_menu">
      <a id="a_phone">전화</a>
      <a class="active">이메일</a>
    </div>

    <div class="login_form">
      <p class="warning_txt invalid_info" style="display: none">이메일 혹은 비밀번호가 정확하지 않습니다.</p>
      <div class="form_row">
        <span class="stit">이메일</span>
        <div class="input_wrap">
          <input type="email" name="email" value="" class="clear" />
          <button class="btn_clear" onClick="clearInput(this); return false;"></button>
        </div>
        <!-- 입력 오류시 -->
        <p class="warning_txt invalid_email" style="display: none">정확한 메일 주소를 입력해주세요.</p>
      </div>

      <div class="form_row">
        <span class="stit">비밀번호</span>
        <div class="input_wrap password">
          <input type="password" name="pwd" value="" class="form_pw clear" />
          <button class="btn_clear" onClick="clearInput(this); return false;"></button>
          <div class="eyes">
            <i class="ico_eye_slash"></i>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn_progress" disabled>로그인</button>
  </div>
  <!--// contents -->

  <a href="javascript:fn_showPwdRestType();" class="btn_search_pw">비밀번호를 잊으셨나요?</a>

  <!-- selectbox -->
  <div class="selectboxD" style="bottom: -100%">
    <div class="date-selector">
      <div id="countryCd" style="width: 80%"></div>
    </div>
  </div>
  <!--// selectbox -->
</div>
